services:
  console:
    build:
      context: ./rails_app
      dockerfile: Dockerfile
    container_name: rails-console-schema-test
    environment:
      - RAILS_ENV=development
      - DATABASE_HOST=postgres
    volumes:
      - ./rails_app:/app
    depends_on:
      - postgres
  
  postgres:
    image: postgres:18
    container_name: postgres-schema-test
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
